<div class="container">
  <div class="carousel img">
    <div class="carousel__face"><span>Big Data</span></div>
    <div class="carousel__face"><span>Cloud Computing</span></div>
    <div class="carousel__face"><span>Data Mining</span></div>
    <div class="carousel__face"><span>Estatística Aplicada</span></div>
    <div class="carousel__face"><span>Meta-heurísticas</span></div>
    <div class="carousel__face"><span>Inteligência Artificial</span></div>
    <div class="carousel__face"><span>Redes Neurais</span></div>
    <div class="carousel__face"><span>Simulador CoppeliaSim</span></div>
    <div class="carousel__face"><span>Scikit-Learn</span></div>
  </div>
</div>
