.btnr {
  color: #000000;
  background-color: #f1f1f1;
  margin-right: 10px;
}

.btnb {
  color: #000000;
  background-color: #f1f1f1;
  margin-right: 10px;
}

.btng {
  color: #57ff91;
  text-shadow: 1px 1px 1px #00200b;
  background-color: #01b142;
  margin-right: 10px;
}

