<h6 mat-dialog-title>Valorizamos sua privacidade</h6>
<mat-dialog-content>
  Usamos cokies para melhorar sua experiência de navegação, conteúdo personalizado e analisar nosso tráfego. Ao clicar em "Aceitar tudo", você concorda com uso de cokies. <b>Política de Privacidade</b>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-dialog-close class="btn btng">Aceitar tudo</button>
  <button mat-dialog-close class="btn btnb">Só o necessário</button>
  <button mat-dialog-close class="btn btnr">Recusar</button>
</div>
