<div class="container">
    <div class="card">
        <img src="./assets/banner-home.png" alt="banner" id="banner">
        <div class="flex-container">
            <div class="flex-item">
                <h6>Transferência de sistemas para computação em nuvem eliminando problemas de quedas e
                    acessos.</h6>
            </div>
            <div class="flex-item">
                <h6>Serviços
                    automatizados, Backups, segurança de informações, estrutura de dados.</h6>
            </div>
            <div class="flex-item">
                <h6>Projetos personalizados sob
                    demanda. Escalonamento de computação em nuvem larga scala para Big Techs.</h6>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-item">
            <div class="card ">
                <div class="card-body toast-header">
                    <div class="card-body">
                        <a class="card-link">Atendimento ></a>&nbsp;&nbsp;
                        <a class="card-link" href="https://wa.me/554797459085" target="_blank"
                            class="btn btn-whatsapp">WhatsApp</a>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <img class="plan" src="./assets/plan.png" alt="plan">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card ">
                <div class="card-body toast-header">
                    <div class="card-body">
                        <a class="card-link">Integrado ></a>&nbsp;&nbsp;
                        <a class="card-link" href="https://stripe.com/en-br" target="_blank"
                            class="btn btn-stripe">Powered by STRIPE</a>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <h6><b>Aceite e otimize pagamentos globalmente</b></h6>
                        Aumente as taxas de autorização, otimize a conversão no checkout e ofereça formas de pagamento
                        locais em todos os mercados.
                    </div><br>
                    <div>
                        <h6><b>Obtenha receitas recorrentes</b></h6>
                        Atenda modelos de negócios recorrentes, minimize a perda de clientes e automatize as operações
                        financeiras.
                    </div><br>
                    <div class="space-bar">
                        <h6><b>Um pacote totalmente integrado de produtos para gestão financeira e pagamentos</b></h6>
                        Reduza custos, aumente a receita e administre sua empresa com mais eficiência em uma plataforma
                        totalmente integrada. Use a Stripe para gerenciar todas as suas necessidades de pagamento e
                        operações de receita.
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="card bg-secondary mb-3" style="max-width: 20rem;">
        <img src="./assets/backups.png" alt="backups" id="backups">
    </div>
    <div class="card bg-secondary mb-3" style="width: 100%; max-width: 20rem;">
        <img src="./assets/clients.png" alt="backups" id="backups">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</div>