
<link rel="stylesheet" href="home.component.scss">
<div class="container">
  <app-carousel></app-carousel>
    <div class="flex-container">
        <div class="flex-item">
            <img src="./assets/banner-1.png" alt="banner-1" class="plan">
            <p>
            <h6 class="card-text">Serviços automatizados para escritórios e empresas, Backups, segurança de informações,
                estrutura e mineração de dados.</h6>
        </div>
        <div class="flex-item">
            <img src="./assets/banner-2.svg" alt="banner-2" class="plan">
            <p>
            <h6 class="card-text">Transferência de sistemas para computação em nuvem eliminando problemas de quedas e
                acessos. Rede de entrega de conteúdo global.</h6>
        </div>
        <div class="flex-item">
            <img src="./assets/banner-3.svg" alt="banner-3" class="plan">
            <p>
            <h6 class="card-text">Escalonamento de computação em nuvem larga scala para Big Techs. Com armazenamento e
                recuperação qualquer quantidade de dados de qualquer lugar.</h6>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <div class="card ">
                <div class="toast-header">
                    <div class="card-body">
                        <a class="card-link" href="https://wa.me/554797459085" target="_blank"
                            class="btn btn-whatsapp">WhatsApp</a>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <img class="plan" src="./assets/plan.png" alt="plan">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card ">
                <div class="card-body toast-header">
                    <div class="card-body">
                        <a class="card-link" href="https://stripe.com/en-br" target="_blank" class="btn btn-stripe">by
                            Stripe</a>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <h6><b>Aceite e otimize pagamentos globalmente</b></h6>
                        <h6 class="card-text">Aumente as taxas de autorização, otimize a conversão no checkout e ofereça
                            formas de pagamento
                            locais em todos os mercados.</h6>
                    </div>
                    <div>
                        <h6><b>Obtenha receitas recorrentes</b></h6>
                        <h6 class="card-text">Atenda modelos de negócios recorrentes, minimize a perda de clientes e
                            automatize as operações
                            financeiras.</h6>
                    </div>
                    <div>
                        <h6><b>Um pacote totalmente integrado de produtos para gestão financeira e pagamentos</b></h6>
                        <h6 class="card-text">Reduza custos, aumente a receita e administre sua empresa com mais
                            eficiência
                            em uma plataforma
                            totalmente integrada. Use a Stripe para gerenciar todas as suas necessidades de pagamento e
                            operações de receita.</h6>
                    </div>
                    <div>
                        <h6><b>Traga agilidade para sua empresa</b></h6>
                        <h6 class="card-text">E não apenas para aceitar pagamentos, mas também para oferecer suporte
                            rápido a novos mercados para seus clientes, sua própria integração em api.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <img src="./assets/backups-1.png" alt="backups-1" class="clients">
        </div>
        <div class="flex-item">
            <img src="./assets/backups-2.png" alt="backups-2" class="clients">
        </div>
        <div class="flex-item">
            <img src="./assets/backups-3.png" alt="backups-3" class="clients">
        </div>
    </div>
    <div class="toast-header-functs">
        <div class="flex-container">
            <div class="flex-item">
                <strong>Inteligência Artificial</strong>
            </div>
            <div class="flex-item">
                <strong>Cloud Computing</strong>
            </div>
            <div class="flex-item">
                <strong>Big Data</strong>
            </div>
            <div class="flex-item">
                <strong>Data Mining</strong>
            </div>
            <div class="flex-item">
                <strong>Deep Learning</strong>
            </div>
            <div class="flex-item">
                <strong>Estatística Aplicada</strong>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <img src="./assets/clients-1.png" alt="clients-1" class="clients">
        </div>
        <div class="flex-item">
            <img src="./assets/clients-2.png" alt="clients-2" class="clients">
        </div>
    </div>
    <div class="card contato">
        <div class="flex-container contato">
            <div class="flex-item contato">
                <div class="card iframe">
                    <iframe class="iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3551.8129371443256!2d-48.916867425221575!3d-27.099193601019984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df4799259bc26f%3A0x1c4e4f832bda0fb7!2sCondom%C3%ADnio%20Edif%C3%ADcio%20Daniel%20Barni%20-%20R.%20Adriano%20Schaeffer%2C%20151%20-%20Centro%201%2C%20Brusque%20-%20SC%2C%2088350-330!5e0!3m2!1spt-BR!2sbr!4v1717449935655!5m2!1spt-BR!2sbr"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="flex-item contato">
                <div class="card-body">
                    <h3 class="card-title">Endereço</h3>
                    <h5 class="card-title">Adriano Schaefer 151</h5>
                    <h5 class="card-title">bairro centro</h5>
                    <h5 class="card-title">Brusque (SC)</h5>
                    <h5 class="card-title">CEP : 88350330</h5>
                </div>
            </div>
            <div class="flex-item contato">
                <div class="card-body">
                    <h3 class="card-title">Telefone</h3>
                    <h5 class="card-title">+55 (47) 9 9745-9085</h5>
                    <h3 class="card-title">Horário</h3>
                    <h5 class="card-title">Segunda a Sexta Feira </h5>
                    <h5 class="card-title"> 08:00h – 18:00h </h5>
                </div>
            </div>
            <div class="flex-item contato">
                <div class="card-body">
                    <h3 class="card-title">Email</h3>
                    <h5 class="card-title">contato&#64;b1010code.com.br</h5>
                    <h3 class="card-title">Redes Sociais</h3>
                    <h3 class="card-title">
                        <a href="https://www.facebook.com/profile.php?id=61560085336258" target="_blank"><img
                                src="./assets/face-icon.png" alt="icons" class="icons"></a>&nbsp;&nbsp;&nbsp;

                        <a class="card-title" href="https://www.linkedin.com/company/b1010-code" target="_blank"><img
                                src="./assets/linked-icon.png" alt="icons" class="icons"></a>

                    </h3>
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</div>
